html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%);
  margin: 5rem auto;
  line-height: 2rem;
}

header {
  text-align: center;
  margin: 2rem auto;
  width: 50rem;
}
.primary {
  font-weight: 400;
}
.secondary {
  font-weight: 600;
}
.detail {
  font-weight: 200;
}

h3,
p {
  color: hsl(229, 6%, 66%);
}

section {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
  max-width: 1200px;
}

.card {
  border-top: 6px solid;
  border-radius: 6px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 0.5rem 2rem 2rem;
  margin: 2rem;
  background-color: white;
  width: 30rem;
  
}

.heading {
  font-size: 2.4rem;
  font-weight: 600;
}


.card1 {
  border-top-color: hsl(180, 62%, 55%);
}
.card2 {
  border-top-color: hsl(0, 78%, 62%);
}
.card3 {
  border-top-color: hsl(34, 97%, 64%);
}
.card4 {
  border-top-color: hsl(212, 86%, 64%);
}

img {
  float: right;
}
